# Specific files and directories to be ignored in the docker build process

# Git / metadata
.git
.gitignore

# Documentation / misc
README.md
/doc

# Bash scripts for Docker build/run
*.sh

# Tarballs
*.tar
*.tar.gz

# Python cache / temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor junk
.DS_Store
*.swp
*.swo

# Data directories / test files (avoid bloated builds from data leakage into images)
data/
*.log
/apps/python_fire_server/connection_from_siemens_20250409.py
/apps/python_fire_server/invertcontrast.py